# Plaintext email that should be encrypted before publishing to the website
EMAIL=
# Password used to decrypt the email
PUBLIC_PASSWORD=
# Output for the encrypted email
PUBLIC_PAYLOAD=
# API url for the core backend
BACKEND_API_URL=https://localhost:3000/api
# Should match with backend/.env. Max 64 chars.
BFF_API_KEY=

# Keystatic CMS (Used by the GitHub app for OAuth)
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
