NODE_ENV=development

DATABASE_URL=dev.db

# Should never be used for logging in but we use it to connect the BFF API key to a specific user, a service account user
BFF_ADMIN_USERNAME=replace-with-generated-username
BFF_ADMIN_PASSWORD=replace-with-generated-password
# Should match with frontend/.env. Max 64 chars.
BFF_API_KEY=
