---
import { Image } from 'astro:assets'

import allerthsBageriLogo from '$assets/allerths-bageri-logo.jpeg'
import { SITE_NAME } from '$lib/constants'
---

<header class="py-8 text-center">
  <span class="text-sm font-light tracking-widest">Välkommen till</span>
  <div class="grid w-full grid-cols-3 gap-4">
    <div></div>
    <div class="flex align-center justify-center">
      <Image
        src={allerthsBageriLogo}
        alt="Profilbild för Allerths Bageri"
        class="h-auto w-20 rounded-full object-cover shadow-md"
        priority
      />
      <h1 class="inline-flex pt-4 font-display text-4xl font-bold sm:text-6xl">
        {SITE_NAME}
      </h1>
    </div>
    <nav class="flex flex-col justify-center">
      {
        Astro.url.pathname !== '/bokning' && (
          <a class="h-auto mx-auto px-4 py-2 border rounded-md" href="/bokning">
            Boka ditt bröd!
          </a>
        )
      }
    </nav>
  </div>
</header>
