---
import { Image } from 'astro:assets'

import allerthsBageriLogo from '$assets/allerths-bageri-logo.jpeg'
import { SITE_NAME } from '$lib/constants'
import { cn } from '$lib/utils'
import { buttonVariants } from '$components/ui/button'
---

<nav class="flex items-center justify-between py-2 px-4 shadow-sm">
  <a class="flex items-center gap-4" href="/">
    <Image
      src={allerthsBageriLogo}
      alt="Profilbild för Allerths Bageri"
      class="size-12 rounded-full object-cover shadow-md"
      priority
    />
    <h1 class="font-display text-3xl xs:text-4xl font-bold pt-2">
      {SITE_NAME}
    </h1>
  </a>

  <ul class="flex items-center gap-4">
    <li>
      <a href="/bokning" class={cn([buttonVariants({ variant: 'outline' })])}>
        Boka ditt bröd!
      </a>
    </li>
  </ul>
</nav>
