---
import Layout from '../layouts/Layout.astro'
import { SITE_NAME } from '../constants'

import herbs from '../assets/herbs.jpg'
---

<Layout>
  <header class="py-8 text-center">
    <span class="text-sm font-light tracking-widest">Välkommen till</span>
    <h1 class="pt-4 font-display text-4xl font-bold">{SITE_NAME}</h1>
  </header>

  <main class="mx-auto w-full max-w-screen-md px-4">
    <!-- TODO: kontakt i header och i footer -->
    <!-- box med allerths bageri sektion i mitten -->
    <!-- Call to action längst upp och längst ner -->

    <!-- TODO: Add good alt texts -->
    <img
      class="rounded-md shadow-md"
      src={herbs.src}
      height={herbs.height}
      width={herbs.src}
      alt="Örter"
    />
  </main>
</Layout>
