---
import Layout from '../layouts/Layout.astro'
import { SITE_NAME } from '../constants'
---

<Layout>
  <header class="py-8 text-center">
    <span class="text-sm font-light tracking-widest">Välkommen till</span>
    <h1 class="pt-4 font-display text-4xl font-bold">{SITE_NAME}</h1>
  </header>

  <main class="px-4">
    <!-- TODO: kontakt i header och i footer -->
    <!-- box med allerths bageri sektion i mitten -->
    <!-- Call to action längst upp och längst ner -->
  </main>
</Layout>
