---
import '@fontsource/italianno'
import '@fontsource/quattrocento'
import { SITE_NAME } from '../constants'

import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Välkommen till min hemsida om bakning, friskvård, örter och hälsa. I naturen finns mängder av läkeörter som förbättrar vår hälsa på ett hållbart sätt. Jag anordnar örtvandringar där du kan lära dig mer om vad du kan äta eller annars ha användning av från naturen. Jag är också utbildad körpedagog och driver friskvårdskör som främjar hälsan."
    />
    <meta
      name="keywords"
      content="friskvård, bröd, surdeg, örter, hälsa, läkemedel, bakning, kör, sång, gemenskap, hållbarhet, livsstil, allerth, bageri, vilka växter i naturen kan man äta?, hälsosamma växter, hälsosamma växter från naturen, baka med växter från naturen, baka med växter från skogen, emmer"
    />
    <meta name="author" content="Maggan Allerth" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/allerths-bageri-logo.jpeg" />
    <meta name="theme-color" content="#FFFFFF" />

    <title>{SITE_NAME}</title>
  </head>
  <body class="!font-serif">
    <Header />

    <main class="mx-auto w-full max-w-screen-md xs:px-4">
      <slot />
    </main>

    <hr class="mt-8 border-gray-400" />

    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-padding-top: 1rem;
  }
</style>
