---
import { SITE_NAME } from '../constants'
---

<header class="flex w-full items-center justify-center p-4">
	<nav>
		<a href="/" class="font-display text-2xl">
			{SITE_NAME}
		</a>
	</nav>
</header>
