---
import Layout from '$layouts/Layout.astro'
import BookingForm from '$components/booking-form/booking-form.svelte'
---

<Layout class="pt-8 px-4" footer={false}>
  <BookingForm client:only />

  <!-- <div>
    <h3>Såhär fungerar din bokning:</h3>
    <p>Välj bokningstillfälle</p>
    <p>Fyll i dina uppgifter</p>
    <p>Välj produkter</p>
    <p>Skicka din bokning</p>
  </div>

  <span class="flex justify-center">
    <hr class="my-12 w-7 text-center text-gray-200" />
  </span>

  <section>
    <div>
      <h3>Lördag 2 Augusti</h3>
      <p>Kl 10:00-15:30</p>
      <p>REKOringen Borås</p>
    </div>
    <button>Beställ nu</button>
  </section>

  <span class="flex justify-center">
    <hr class="my-12 w-7 text-center text-gray-200" />
  </span>

  <section>
    <div>
      <h3>Måndag 4 Augusti</h3>
      <p>Kl 09:00-17:30</p>
      <p>REKOringen Ulricehamn</p>
    </div>
    <button>Beställ nu</button>
  </section> -->
</Layout>
