---
import '@fontsource/quattrocento'
import '@fontsource/italianno'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#FFFFFF" />

    <title>{title}</title>
  </head>
  <body class="!font-serif">
    <slot />
  </body>
</html>
