---
import { SITE_NAME } from '../constants'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml">
    <meta
      name="description"
      content="Välkommen till min hemsida om friskvård, örter, hälsa och bakning. I naturen finns mängder av läkeörter som förbättrar vår hälsa på ett hållbart sätt. Jag anordnar örtvandringar där du kan lära dig mer om vad du kan äta eller annars ha användning av från naturen. Jag är också utbildad körpedagog och driver friskvårdskör som främjar hälsan."
    />
    <meta
      name="keywords"
      content="friskvård, örter, hälsa, läkemedel, bakning, kör, sång, gemenskap, hållbarhet, livsstil, allerth, bageri, vilka växter i naturen kan man äta?, hälsosamma växter, hälsosamma växter från naturen, baka med växter från naturen, baka med växter från skogen"
    />
    <meta name="author" content="Maggan Allerth" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#FFFFFF" />

    <link
      rel="preload"
      href="/fonts/italianno-latin-ext.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/italianno-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/quattrocentro-latin-ext.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/quattrocentro-latin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <title>{SITE_NAME}</title>
  </head>
  <body class="font-serif">
    <slot />
  </body>
</html>

<style is:global>
  /* latin-ext */
  @font-face {
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/italianno-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/italianno-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
  @font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/quattrocento-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/quattrocento-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
</style>
